
<section id='city-section'>
  <div class="container">
    <div class="row">
      <h3>Chicago is the city where real people build solutions to real problems...</h3>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h3> ...and apprenticeship is how we make our teams better.</h3>
        <p class="lead">More than a way to hire new software developers, software apprenticeships give teams a chance to grow sustainably with new perspectives and skillsets.
          Here's a list of 
          <strong>apprentice software developer jobs</strong>
          in the city, compiled with ❤️ by
          <a href='http://josephmastey.com'>Joe Mastey</a> and the help of many other great folks.
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 hidden-sm hidden-xs">
        <div class="sidebar">
          <div class="sidebar__widget" id="find_an_apprenticeship">
            <h2>Find a Software Apprenticeship </h2>
            <h4>(<%= programs.length %> programs)</h4>
            <hr>

            <form method="post">
              <div class="input-with-icon">
                <i class="icon-Magnifi-Glass2"></i>
                <input type="search" id="program-filter" placeholder="search apprentice programs" />
              </div>
            </form>

            <ul class="tag-cloud">
              <li><a rel="nofollow" href="#" class="btn btn--sm btn--square"><span class="btn__text">Product Companies</span></a></li>
              <li><a rel="nofollow" href="#" class="btn btn--sm btn--square"><span class="btn__text">Consulting</span></a></li>
              <li>|</li>
              <li><a rel="nofollow" href="#" class="btn btn--sm btn--square"><span class="btn__text">Contract</span></a></li>
              <li><a rel="nofollow" href="#" class="btn btn--sm btn--square"><span class="btn__text">Full Time</span></a></li>
              <li><a rel="nofollow" href="#" class="btn btn--sm btn--square"><span class="btn__text">Volunteer</span></a></li>
              <li>|</li>
              <li><a rel="nofollow" href="#" class="btn btn--sm btn--square"><span class="btn__text">B2B</span></a></li>
              <li><a rel="nofollow" href="#" class="btn btn--sm btn--square"><span class="btn__text">B2C</span></a></li>
              <li>|</li>
              <li><a rel="nofollow" href="#" class="btn btn--sm btn--square"><span class="btn__text">Node</span></a></li>
              <li><a rel="nofollow" href="#" class="btn btn--sm btn--square"><span class="btn__text">Rails</span></a></li>
              <li><a rel="nofollow" href="#" class="btn btn--sm btn--square"><span class="btn__text">React</span></a></li>
              <li>|</li>
              <li><a rel="nofollow" href="#" class="btn btn--sm btn--square"><span class="btn__text">Experience Not Required</span></a></li>
            </ul>
          </div>
        </div>

        <hr>

      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="masonry masonry-blog">
          <div class="masonry__container masonry--active">
            <% programs.each do |program| %>
              <%= erb :"index/program", locals: { program: program } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
