<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Find a Software Apprenticeship - Chicago Apprenticeships</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="title" property="og:title" content="Chicago Apprenticeships" />
  <meta name="description" property="og:description" content="Find software apprenticeship programs in Chicago, and what makes them successful." />
  <meta property="og:site_name" content="Chicago Software Apprenticeships" />
  <meta property="og:image" content="http://chicagoapprenticeships.com/assets/logo-light.png" />
  <meta property="og:url" content="<%= request.url %>" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@jmmastey" />
  <meta name="twitter:title" content="Chicago Software Apprenticeships" />
  <meta name="twitter:description" content="Find software apprenticeship programs in Chicago, and what makes them successful." />
  <meta name="twitter:image" content="http://chicagoapprenticeships.com/assets/logo-light.png" />

  <script type=application/ld+json>{
    "@context": "http://schema.org",
    "@type": "WebSite",
    "name": "chicagoapprenticeships.com",
    "headline": "Chicago Software Apprenticeships",
    "description": "Find software apprenticeship programs in Chicago, and what makes them successful.",
    "url": "http://chicagoapprenticeships.com/"
  }</script>

  <meta name="keywords" content="software apprenticeship, chicago software apprenticeship, apprenticeship" />
  <link rel="canonical" href="http://chicagoapprenticeships.com/" />
</head>

<body>
  <div class="nav-container">
    <nav>
      <div class="nav-bar" data-fixed-at="700">
        <div class="nav-module logo-module left">
          <h1>Find a Software Apprenticeship</h1>
          <a href="/"><img alt="Find a Software Apprenticeship - Chicago Apprenticeships" class="logo logo-dark" src="assets/logo-dark.png">
                      <img alt="Find a Software Apprenticeship - Chicago Apprenticeships" class="logo logo-light" src="assets/logo-light.png"></a>
        </div>
        <div class="nav-module menu-module left">
          <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="http://josephmastey.com/tag/case-studies-in-apprenticeship/">Case Studies</a></li>
            <li><a href="https://beginnerfriendly.launchrock.com/">Start an Apprenticeship</a></li>
            <!--<li><a href="/about">About Apprenticeship</a></li>-->
          </ul>
        </div>
      </div>
      <div class="nav-mobile-toggle visible-sm visible-xs">
        <i class="icon-Align-JustifyAll icon icon--sm"></i>
      </div>
    </nav>
  </div>

  <div class="main-container">
    <%= yield %>

    <%= erb :"index/contact" %>

    <footer class="footer-2 text-center-xs bg--white">
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <ul class="footer__navigation">
              <li><a href="http://josephmastey.com/tag/case-studies-in-apprenticeship/">Case Studies</a></li>
              <li><a href="https://beginnerfriendly.launchrock.com/">Start an Apprenticeship</a></li>
            </ul>
          </div>
          <div class="col-sm-4 text-right text-center-xs">
            <ul class="social-list">
              <li><a href="http://twitter.com/jmmastey"><i class="socicon-twitter"></i> Twitter</a></li>
              <li><a href="https://www.linkedin.com/in/jmmastey"><i class="socicon-linkedin"></i> LinkedIn</a></li>
              <li><a href="mailto:jmmastey@gmail.com"><i class="icon-Email"></i> Email</a></li>
            </ul>
          </div>
          <div class="col-sm-12">
            <div class="footer__lower">
              <span class="type--fine-print">Made with ♡ by <a href='http://josephmastey.com/'>Joe Mastey</a>.</span>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700|Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600%7CSource+Sans+Pro:400,600,400italic" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="assets/application.css">
  <script src="assets/application.js"></script>
  <script> (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','https://www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-55932623-2', 'auto'); ga('send', 'pageview'); </script>
</body>
</html>
