<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Chicago Apprenticeships - Home</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta property="og:title" content="Chicago Apprenticeships" />
  <meta property="og:description" content="Discover apprenticeship programs in Chicago, and what makes them successful!" />
  <meta property="og:site_name" content="Chicago Apprenticeships" />
  <meta property="og:image" content="http://chicagoapprenticeships.com/img/logo-light.png" />
  <meta property="og:url" content="<%= request.url %>" />

  <link href="css/socicon.css" rel="stylesheet" type="text/css" media="all">
  <link href="css/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
  <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
  <link href="css/interface-icons.css" rel="stylesheet" type="text/css" media="all"/>
  <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" media="all"/>
  <link href="css/theme-deepred.css" rel="stylesheet" type="text/css" media="all"/>
  <link href="css/custom.css" rel="stylesheet" type="text/css" media="all"/>
  <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700|Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600%7CSource+Sans+Pro:400,600,400italic" rel="stylesheet" type="text/css">
  <link href="css/font-poppinssourcesanspro.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="nav-container">
    <nav>
      <div class="nav-bar" data-fixed-at="700">
        <div class="nav-module logo-module left">
          <a href="/"><img alt="logo" class="logo logo-dark" src="img/logo-dark.png"> <img alt="logo" class="logo logo-light" src="img/logo-light.png"></a>
        </div>
        <div class="nav-module menu-module left">
          <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="http://josephmastey.com/tag/case-studies-in-apprenticeship/">Case Studies</a></li>
            <li><a href="https://beginnerfriendly.launchrock.com/">Start an Apprenticeship</a></li>
            <!--<li><a href="/about">About Apprenticeship</a></li>-->
          </ul>
        </div>
      </div>
      <div class="nav-mobile-toggle visible-sm visible-xs">
        <i class="icon-Align-JustifyAll icon icon--sm"></i>
      </div>
    </nav>
  </div>

  <div class="main-container">
    <%= yield %>

    <%= erb :"index/contact" %>

    <footer class="footer-2 text-center-xs bg--white">
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <ul class="footer__navigation">
              <li><a href="http://josephmastey.com/tag/case-studies-in-apprenticeship/">Case Studies</a></li>
              <li><a href="https://beginnerfriendly.launchrock.com/">Start an Apprenticeship</a></li>
            </ul>
          </div>
          <div class="col-sm-4 text-right text-center-xs">
            <ul class="social-list">
              <li><a href="http://twitter.com/jmmastey"><i class="socicon-twitter"></i></a></li>
              <li><a href="https://www.linkedin.com/in/jmmastey"><i class="socicon-linkedin"></i></a></li>
              <li><a href="mailto:jmmastey@gmail.com"><i class="icon-Email"></i></a></li>
            </ul>
          </div>
          <div class="col-sm-12">
            <div class="footer__lower">
              <span class="type--fine-print">Made with ♡ by <a href='http://josephmastey.com/'>Joe Mastey</a>.</span>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <script src="js/jquery-2.1.4.min.js"></script>
  <script src="js/isotope.min.js"></script>
  <script src="js/scrollreveal.min.js"></script>
  <script src="js/parallax.js"></script>
  <script src="js/scripts.js"></script>
  <script src="js/custom.js"></script>
  <script> (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','https://www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-55932623-2', 'auto'); ga('send', 'pageview'); </script>
</body>
</html>
