/***************************
Add your custom styles below
****************************/

.nav-bar .nav-module {
  height: 130px;
}

.program .card__image {
  border-bottom:1px solid #ddd;
}

.program .card__body .card__title {
  margin-bottom:0em;
}

.program .card__body .card__middle {
  height: 10em;
}

.program .card__body .card__middle dt,
.program .card__body .card__middle dd {
  width:50%;
  display:inline-block;
}

.program .card__body .card__lower {
  height:22em;
}

.program .card__body .card__lower dd {
  margin-bottom:0.5em;
}

.sidebar .sidebar__widget h6 {
  margin-bottom: 0px;
}

.sidebar .sidebar__widget hr {
  margin-top: 0.5em;
}

.form-updates p a.btn {
  text-decoration: none;
}

section, footer {
  padding-top: 4.5em;
  padding-bottom: 5.125em;
}
