<div class="modal-instance">
  <a class="btn btn--success btn--floating modal-trigger" href="#">
    <span class="btn__text">Updates? Missing Info?</span>
  </a>
  <div class="modal-container">
    <div class="modal-content bg--white" data-width="40%">
      <div class="form-updates boxed boxed--lg bg--white box-shadow-wide">

        <div class="subscribe__title text-center">
          <h4>This is all manual hard work, so thanks for helping out!</h4>
        </div>

        <p class="text-center">
          <a href="https://docs.google.com/forms/d/1yjzGcBNEeCoMaEmckCl92kJuMJfzXGocqG5Hdcv7flg/viewform" class="btn btn--success" target="_blank">
            <span class="btn__text">Submit a Program</span>
          </a>
        </p>

        <p class="text-center">
          For anything else, please feel free to <a href="mailto:jmmastey@gmail.com" target="_blank">send me an email</a> and I'll help as quickly as I can.
        </p>
      </div>
    </div>
  </div>
</div>
