/***************************
Add your custom styles below
****************************/

body {
  background: transparent url("/assets/chicago-skyline.jpg") 0px 100px no-repeat;
}

h1 {
  position:absolute;
  text-indent:-999em;
}

#find_an_apprenticeship h2, #find_an_apprenticeship h4 {
  font-size:110%;
  display: inline-block;
}

#city-section .row {
  height:90px;
  padding-left:60%;
  position:relative;
  top: -35px;
}

@media (max-width: 991px) {
  body {
    background-image: none;
  }

  #city-section {
    padding-bottom:0px;
  }

  #city-section .row {
    height:auto;
    padding: 0px 15px;
    top: 0px;
    text-align: center;
  }
}

.nav-bar .nav-module {
  height: 130px;
}

.program .card__image {
  border-bottom:1px solid #ddd;
}

.program .card__body .card__title {
  margin-bottom:0em;
  min-height: 4.875em;
}

.program .card__body .card__middle dl {
  height: 10em;
}

.program .card__body .card__middle dt,
.program .card__body .card__middle dd {
  vertical-align:top;
  white-space: nowrap;
}

.program .card__body .card__lower {
  min-height:22em;
}

.program .card__body .card__lower dd {
  margin-bottom:0.5em;
}

.sidebar .sidebar__widget h5 {
  margin-bottom: 0px;
}

.sidebar .sidebar__widget hr {
  margin-top: 0.5em;
}

.form-updates p a.btn {
  text-decoration: none;
}

section, footer {
  padding-top: 4.5em;
  padding-bottom: 5.125em;
}
